<ul class="nav flex-column shadow d-flex sidebar mobile-hid">
    <li class="nav-item logo-holder">
        <div class="text-center text-white logo py-4 mx-4">
            <a class="text-white text-decoration-none" id="title"
               href="#"><strong>Dashboard</strong></a>
            <a class="text-white float-right" id="sidebarToggleHolder" href="#">
                <i class="fas fa-bars"
                   id="sidebarToggle"></i>
            </a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link active text-left text-white py-1 px-0" href="#">
            <i class="fas fa-tachometer-alt mx-3"></i>
            <span class="text-nowrap mx-2">Dashboard</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-left text-white py-1 px-0" href="#">
            <i class="fas fa-user mx-3"></i>
            <span class="text-nowrap mx-2">User profile</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-left text-white py-1 px-0" href="#">
            <i class="far fa-life-ring mx-3"></i>
            <span class="text-nowrap mx-2">Support tickets</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-left text-white py-1 px-0" href="#">
            <i class="fas fa-archive mx-3"></i>
            <span class="text-nowrap mx-2">Archive</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-left text-white py-1 px-0" href="#">
            <i class="fas fa-chart-bar mx-3"></i>
            <span class="text-nowrap mx-2">Statistics</span>
        </a>
    </li>
    <li class="nav-item dropdown">
        <a class="dropdown-toggle nav-link text-left text-white py-1 px-0 position-relative"
           data-toggle="dropdown"
           aria-expanded="false" href="#">
            <i class="fas fa-sliders-h mx-3"></i>
            <span class="text-nowrap mx-2">Settings</span>
            <i class="fas fa-caret-down float-none float-lg-right fa-sm"></i>
        </a>
        <div class="dropdown-menu border-0 animated fadeIn">
            <a class="dropdown-item text-white" href="#">
                <span>Change password</span>
            </a>
            <a class="dropdown-item text-white" href="#">
                <span>Change email</span>
            </a>
            <a class="dropdown-item text-white" href="#">
                <span>More</span>
            </a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link text-left text-white py-1 px-0" href="#">
            <i class="fas fa-sign-out-alt mx-3"></i>
            <i class="fa fa-caret-right d-none position-absolute"></i>
            <span class="text-nowrap mx-2">Log out</span>
        </a>
    </li>
</ul>