{% extends 'base.html' %}

{% load static %}

{% block title %}
    Detail
{% endblock %}

{% block content %}
    <h2>{{ hall.title }}</h2>

    <div class="list-group w-25">
        <a href="{% url 'add_video' hall.pk %}" class="list-group-item list-group-item-action list-group-item-success">Add a video</a>
        <a href="{% url 'update_hall' hall.pk %}" class="list-group-item list-group-item-action list-group-item-info">Edit Hall of fame</a>
        <a href="{% url 'delete_hall' hall.pk %}" class="list-group-item list-group-item-action list-group-item-danger">Delete Hall of fame</a>
    </div>
{% endblock %}